<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="Author" content="Arone.com" />
  <meta name="Description" content="Specialized in life science applications development" />
  <meta name="Keywords" content="CDISC, EDC, Electronic Data Capture, ECRF, IWRS, E2B, Metabase, Pharmacovigilance, Clinical Study, Drugs Supplies, 21 CRF Part 11, TMF, Trial Master File"
  />
  <title>ARONE - Projection® Electronic Data Capture</title>
  <link href="../dist/hamburgers.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/master.css">
  <link rel="stylesheet" href="../css/productPage.css">
</head>
<header>
  <div class="header">
    <a href="../index.html">
      <img src="../image/logo.svg" alt="logo" class="logo">
    </a>
    <nav>
      <button class="hamburger hamburger--spring" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <ol>
        <ul class="princpale">
          <li class="fst">
            <a href="../products.html">Products</a>
          </li>
          <li class="fst">
            <a href="../quality.html">Quality</a>
          </li>
          <li class="fst">
            <a href="../services.html">Services</a>
          </li>
        </ul>
        <ul class="secondary">
          <li class="snd">
            <a href="../presentation.html">Presentation</a>
          </li>
          <li class="snd">
            <a href="../contact.html">Contact</a>
          </li>
        </ul>
      </ol>
    </nav>
  </div>
</header>

<body>
  <main>
    <div class="container">
      <div class="logo_prod">
        <img class="imgLogo" src="../image/Projection® Datamanagement.svg" alt="logo Datamanagement">
        <h1 class="heading-primary">Projection® Datamanagement</h1>
      </div>
      <div class="back">
          <a class="back" href="../products.html">
            <img class="back" src="../image/back-arrow.svg" alt="Back to Products">
          </a>
        </div>
      <div class="accordion">
        <dl>
          <dt>
            <a href="#" class="accordion-title accordionTitle js-accordionTrigger">Check data in Projection® EDC</a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
            <p>Projection® Datamanagement is dedicated for Projection® EDC and permits to control quality of data collected
              by automated checks.</p>
            <p>Projection® Datamanagement ensure a full quality process for development of controls and for queries application.</p>
            <div class="toUnderstand">
              <a class="lightbox" href="#Datamanagement">
                <img src="../image/toUnderstand5.png" alt="picture to understand what you are reading" />
              </a>
            </div>
          </dd>
        </dl>
      </div>
    </div>
    <div class="lightbox-target" id="Datamanagement">
      <img src="../image/toUnderstand5.png" alt="picture to understand what you are reading" />
      <a class="lightbox-close" href="#"></a>
    </div>
  </main>
  <footer>
    <div>
      <hr width="30%" color="black" size="1" align="center">
      <div>
        <p>info-arone[at]arone.com</p>
        <p>
          <span>+33 (0) 149 772 330</span>|
          <span>+33 (0) 970 326 247</span>
        </p>
        <p>Fell free to contact us</p>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="../script/menu.js" type="text/javascript"></script>
  <script type="text/javascript" src="../script/products.js">
  </script>
</body>

</html>