<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="Author" content="Arone.com" />
  <meta name="Description" content="Specialized in life science applications development" />
  <meta name="Keywords" content="CDISC, EDC, Electronic Data Capture, ECRF, IWRS, E2B, Metabase, Pharmacovigilance, Clinical Study, Drugs Supplies, 21 CRF Part 11, TMF, Trial Master File"
  />
  <title>ARONE - Projection® Electronic Data Capture</title>
  <link href="../dist/hamburgers.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/master.css">
  <link rel="stylesheet" href="../css/productPage.css">
</head>
<header>
  <div class="header">
    <a href="../index.html">
      <img src="../image/logo.svg" alt="logo" class="logo">
    </a>
    <nav>
      <button class="hamburger hamburger--spring" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <ol>
        <ul class="princpale">
          <li class="fst">
            <a href="../products.html">Products</a>
          </li>
          <li class="fst">
            <a href="../quality.html">Quality</a>
          </li>
          <li class="fst">
            <a href="../services.html">Services</a>
          </li>
        </ul>
        <ul class="secondary">
          <li class="snd">
            <a href="../presentation.html">Presentation</a>
          </li>
          <li class="snd">
            <a href="../contact.html">Contact</a>
          </li>
        </ul>
      </ol>
    </nav>
  </div>
</header>

<body>
  <main>
    <div class="container">
      <div class="logo_prod">
        <img class="imgLogo" src="../image/logo ECRF.svg" alt="logo ECRF">
        <h1 class="heading-primary">Projection® Electronic Data Capture</h1>
      </div>
      <div class="back">
          <a class="back" href="../products.html">
            <img class="back" src="../image/back-arrow.svg" alt="Back to Products">
          </a>
        </div>
      <div class="accordion">
        <dl>
          <dt>
            <a href="#" class="accordion-title accordionTitle js-accordionTrigger">EDC vs IDC (Intuitive Data Capture)</a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
            <p>Projection® EDC is a fully web-based, state-of-the-art data capture platform. It is incredibly easy to use, requires
              no installation (thin client) and will operate anywhere that has an Internet connection available.</p>
            <p>As Projection® EDC is so user friendly, it require very little training. Data are organized like with paper CRFs:
              patients are represented by a stack of CRFs, with each patient CRF containing pages organized by visit.</p>
          </dd>
          <dt>
            <a href="#" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">
              Data Quality</a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
            <p>Projection® EDC combines simplicity and quality. Data are entered in fields (number, date, string, upper case,
              limited selection by list boxes or drop down menus).
            </p>
            <p>
              All data entered can be controlled in real time and tracked. Entries can be checked from zero to three times depending on
              target data quality:
            </p>
            <ul>
              <li>• level 1: interactive, automated controls: usually non blocking warnings.</li>
              <li>• level 2: monitoring. CRAs can query the investigator and suggest solutions. Monitoring queries are accessible
                directly from the CRF and are linked to the original data in or outside context.</li>
              <li>• level 3: batch controls (data management). Investigators can handle data management queries in the same manner
                as monitoring queries</li>
            </ul>
            <p>
              Each field is associated with a "specify kind of missing value" selector used to select whether data are:
            </p>
            <ul>
              <li>• Not applicable,</li>
              <li>• Not available,</li>
              <li>• Unknown.</li>
            </ul>
            <p>
              The system checks for empty fields and generates a warning message if a field stays empty.
            </p>
            <div class="toUnderstand">
              <a class="lightbox" href="#ECRF">
                <img src="../image/toUnderstand.png" alt="picture to understand what you are reading" />
              </a>
            </div>
          </dd>
          <dt>
            <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
              Integrated monitoring
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
            <p>Projection® EDC also provides integrated monitoring functionalities:</p>
            <ul>
              <li>• manual queries by CRAs,</li>
              <li>• status follow-up:
                <ol>
                  <li>• pages / data to control,</li>
                  <li>• pages / data controlled with or without queries,</li>
                  <li>• pages signed by investigator,</li>
                </ol>
              </li>
              <li>• follow-up of answered queries: page / data to re-control after modification by investigator,</li>
              <li>• management of protocol deviations,</li>
              <li>• management of SDV report,</li>
              <li>• etc.</li>
            </ul>
          </dd>
          <dt>
            <a href="#" aria-expanded="false" aria-controls="onglet4" class="accordion-title accordionTitle js-accordionTrigger">
              Reporting capabilities, printing capabilities, alert capabilities
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="onglet4" aria-hidden="true">
            <p>Projection® EDC includes standard and specific reports that are accessible from a menu or can be pushed by email.
              Some are triggered by specific events (new patient, randomization, Serious Adverse Event (SAE), etc.).
            </p>
            <ul>
              <li>• Patient CRFs can be printed out or generated in PDF format.</li>
              <li>• Data can be exported in CSV format.</li>
            </ul>
            <p>
              Alerts can be triggered by specific events and can be send by email, fax, text message, etc. Alerts and E2B export ensure
              optimal SAE submission to the authorities and timely reporting.
            </p>
          </dd>
          <dt>
            <a href="#" aria-expanded="false" aria-controls="onglet4" class="accordion-title accordionTitle js-accordionTrigger">
              Security
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="onglet4" aria-hidden="true">
            <p>Projection® EDC is fully secured. All users need a logon ID to connect to the system and user rights vary with
              their particular profile. For instance, users may have varying rights for patient data: read, write, ask queries,
              and may have access to only a certain number of patients, e.g. a particular site or country.
            </p>
          </dd>
          <dt>
            <a href="#" aria-expanded="false" aria-controls="onglet4" class="accordion-title accordionTitle js-accordionTrigger">
              Interface
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="onglet4" aria-hidden="true">
            <p>Projection® EDC can be linked to external clinical trial systems such as:</p>
            <ul>
              <li>• Interactive Web Randomization Systems (IWRS) or Interactive Voice Randomization Systems (IVRS),</li>
              <li>• Pharmacovigilance systems (through E2B export),</li>
              <li>• Clinical Trial Management Systems (CTMS),</li>
              <li>• EDM,</li>
              <li>• etc.</li>
            </ul>
          </dd>
          <dt>
            <a href="#" aria-expanded="false" aria-controls="onglet4" class="accordion-title accordionTitle js-accordionTrigger">
              Multi-lingual interface
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="onglet4" aria-hidden="true">
            <p>Projection® EDC can be set up in English or French, and patient CRFs can be viewed by clinicians in their local
              language.
            </p>
          </dd>
          <dt>
            <a href="#" aria-expanded="false" aria-controls="onglet4" class="accordion-title accordionTitle js-accordionTrigger">
              Data management
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="onglet4" aria-hidden="true">
            <p>The Projection® system is of great help to the data manager. In just one application (the Projection® Designer),
              it provides:
            </p>
            <ul>
              <li>• a CRF design tool,</li>
              <li>• a tool to program controls,</li>
              <li>• a tool to set up export to SAS software.</li>
            </ul>
            <p>
              It generates a range of reports that can be included in the Data Handling Manual, including:
            </p>
            <ul>
              <li>• data structure with tables, panels, description of variables and code lists,</li>
              <li>• the annotated CRF.</li>
            </ul>
            <p>
              Projection® EDC can be connected to existing control programs (e.g. written in SAS) by queries loading.
            </p>
          </dd>
          <dt class="ressource">
            <p>Download the Projection® ECRF presentation in PDF format</p>
            <a href="../ressources_pdf/Projection® ECRF.pdf">
              <img src="../image/pdf.svg" alt="PDF">
            </a>
          </dt>
        </dl>
      </div>
    </div>
    <div class="lightbox-target" id="ECRF">
      <img src="../image/toUnderstand.png" alt="picture to understand what you are reading" />
      <a class="lightbox-close" href="#"></a>
    </div>
  </main>
  <footer>
    <div>
      <hr width="30%" color="black" size="1" align="center">
      <div>
        <p>info-arone[at]arone.com</p>
        <p>
          <span>+33 (0) 149 772 330</span>|
          <span>+33 (0) 970 326 247</span>
        </p>
        <p>Fell free to contact us</p>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="../script/menu.js" type="text/javascript"></script>
  <script type="text/javascript" src="../script/products.js">
  </script>
</body>

</html>