<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="Author" content="Arone.com" />
  <meta name="Description" content="Specialized in life science applications development" />
  <meta name="Keywords" content="CDISC, EDC, Electronic Data Capture, ECRF, IWRS, E2B, Metabase, Pharmacovigilance, Clinical Study, Drugs Supplies, 21 CRF Part 11, TMF, Trial Master File"
  />
  <title>ARONE - Projection® Electronic Data Capture</title>
  <link href="../dist/hamburgers.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/master.css">
  <link rel="stylesheet" href="../css/productPage.css">
</head>
<header>
  <div class="header">
    <a href="../index.html">
      <img src="../image/logo.svg" alt="logo" class="logo">
    </a>
    <nav>
      <button class="hamburger hamburger--spring" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <ol>
        <ul class="princpale">
          <li class="fst">
            <a href="../products.html">Products</a>
          </li>
          <li class="fst">
            <a href="../quality.html">Quality</a>
          </li>
          <li class="fst">
            <a href="../services.html">Services</a>
          </li>
        </ul>
        <ul class="secondary">
          <li class="snd">
            <a href="../presentation.html">Presentation</a>
          </li>
          <li class="snd">
            <a href="../contact.html">Contact</a>
          </li>
        </ul>
      </ol>
    </nav>
  </div>
</header>

<body>
  <main>
    <div class="container">
      <div class="logo_prod">
        <img class="imgLogo" src="../image/logo IWRS.svg" alt="logo IWRS">
        <h1 class="heading-primary">Projection® IWRS - Interactive Web Randomization System</h1>
      </div>
      <div class="back">
          <a class="back" href="../products.html">
            <img class="back" src="../image/back-arrow.svg" alt="Back to Products">
          </a>
        </div>
      <div class="accordion">
        <dl>
          <dt>
            <p>
              Projection® IWRS is an interactive web randomization system combining high performance with security and simplicity:
            </p>
            <ul>
              <li>• whether your study includes a few patients or several hundred, Projection® IWRS will match your needs.</li>
              <li>• Projection® IWRS is so intuitive it doesn't require any specific training.</li>
            </ul>
            <p>
              It will work with any Internet browser and doesn't need to install anything on your computer. A simple Internet connection
              is enough.
            </p>
          </dt>
          <dt>
            <a href="#" class="accordion-title accordionTitle js-accordionTrigger">Managing randomization</a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
            <p>
              Projection® IWRS can randomize by different methods:
            </p>
            <ul>
              <li>• It can use a pre-established list of treatments to draw up a chronological treatments list,</li>
              <li>• It can include algorithms that balance treatment arms,</li>
              <li>• It can manage several stratification levels,</li>
              <li>• It can allocate treatments by country, by group of centers, or by center, and thereby:
                <ol>
                  <li>• simplify study logistics,</li>
                  <li>• simplify labeling,</li>
                  <li>• reduce shipment costs,</li>
                  <li>• ...</li>
                </ol>
              </li>
            </ul>
          </dd>
          <dt>
            <a href="#" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">
              Managing treatment packs</a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
            <p>
              Projection® IWRS provides far more than simple interactive web randomization. It also offers end-to-end treatment pack management
              functionalities:
            </p>
            <ul>
              <li>• from pack ordering, which is triggered manually or automatically, to check that:
                <ol>
                  <li>• the green light has been given,</li>
                  <li>• training has been completed,</li>
                  <li>• regulatory documents have been signed</li>
                  <li>• ...</li>
                </ol>
              </li>
              <li>• pack shipment to centers,</li>
              <li>• pack reception,</li>
              <li>• allocation to a patient: prescription printout,</li>
              <li>• stock management,</li>
              <li>• re-supply,</li>
              <li>• ...</li>
            </ul>
            <p>
              Hospital investigators and pharmacists can at all times check instantly the stock situation in their center, and clinical
              research staff can see the stock situation in all centers. Provisional future stocks for the different centers
              can also be consulted.
            </p>
          </dd>
          <dt>
            <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
              General process
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
            <div class="toUnderstand">
              <div class="toUnderstand">
                <a class="lightbox" href="#IWRS">
                  <img src="../image/iwrs_main_process.png" alt="picture to understand what you are reading" />
                </a>
              </div>
          </dd>
          <dt>
            <a href="#" aria-expanded="false" aria-controls="onglet4" class="accordion-title accordionTitle js-accordionTrigger">
              Traceability, security
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="onglet4" aria-hidden="true">
            <h5>Applicative security</h5>
            <p>
              Projection® IWRS guarantees total security in terms of access. All users are identified and granted system rights to match
              their profile (function).
            </p>
            <h5>Audit Trail</h5>
            <p>
              All access is tracked and logged, as are all changes made.
            </p>
            <h5>Patient safety</h5>
            <p>
              Projection® IWRS can check study inclusion and exclusion criteria, and will only dispense treatment packs if the patient
              <br> Projection® IWRS manages drug expiry dates. A drug will only be allocated if its expiry date is compatible
              with the time necessary for its use.
              <br> Projection® IWRS provides real-time information about overall drug stocks for center and sponsor staff, and
              information on drug supplies dispensed to patients and stocks remaining. It can be used to recall or block
              a batch such that it will no longer be dispensed.
            </p>
            <h5>Guaranteeing success</h5>
            <p>
              The heart of this system, and its practical implementation in each clinical trial, have been validated as required by the
              regulations and in accordance with GAMP5 methodology.
            </p>
          </dd>
          <dt>
            <a href="#" aria-expanded="false" aria-controls="onglet4" class="accordion-title accordionTitle js-accordionTrigger">
              Multilingual
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="onglet4" aria-hidden="true">
            <p>
              Although Projection® IWRS can be set up to operate in English or French, randomization-specific pages can be prepared in
              a range of languages so that all users in multi-country studies see these pages in their native language.
            </p>
          </dd>
          <dt class="ressource">
            <p>Download the Projection® IWRS presentation in PDF format</p>
            <a href="../ressources_pdf/Projection® IWRS.pdf">
              <img src="../image/pdf.svg" alt="PDF">
            </a>
          </dt>
        </dl>
        </div>
      </div>
      <div class="lightbox-target" id="IWRS">
        <img src="../image/iwrs_main_process.png" alt="picture to understand what you are reading" />
        <a class="lightbox-close" href="#"></a>
      </div>
  </main>
  <footer>
    <div>
      <hr width="30%" color="black" size="1" align="center">
      <div>
        <p>info-arone[at]arone.com</p>
        <p>
          <span>+33 (0) 149 772 330</span>|
          <span>+33 (0) 970 326 247</span>
        </p>
        <p>Fell free to contact us</p>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="../script/menu.js" type="text/javascript"></script>
  <script type="text/javascript" src="../script/products.js">
  </script>
</body>

</html>