<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="Author" content="Arone.com" />
  <meta name="Description" content="Specialized in life science applications development" />
  <meta name="Keywords" content="CDISC, EDC, Electronic Data Capture, ECRF, IWRS, E2B, Metabase, Pharmacovigilance, Clinical Study, Drugs Supplies, 21 CRF Part 11, TMF, Trial Master File"
  />
  <title>ARONE - Projection® Electronic Data Capture</title>
  <link href="../dist/hamburgers.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/master.css">
  <link rel="stylesheet" href="../css/productPage.css">
</head>
<header>
  <div class="header">
    <a href="../index.html">
      <img src="../image/logo.svg" alt="logo" class="logo">
    </a>
    <nav>
      <button class="hamburger hamburger--spring" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <ol>
        <ul class="princpale">
          <li class="fst">
            <a href="../products.html">Products</a>
          </li>
          <li class="fst">
            <a href="../quality.html">Quality</a>
          </li>
          <li class="fst">
            <a href="../services.html">Services</a>
          </li>
        </ul>
        <ul class="secondary">
          <li class="snd">
            <a href="../presentation.html">Presentation</a>
          </li>
          <li class="snd">
            <a href="../contact.html">Contact</a>
          </li>
        </ul>
      </ol>
    </nav>
  </div>
</header>

<body>
  <main>
    <div class="container">
      <div class="logo_prod">
        <img class="imgLogo" src="../image/logo EPRO.svg" alt="logo EPRO">
        <h1 class="heading-primary">Projection® EPRO</h1>
      </div>
      <div class="back">
          <a class="back" href="../products.html">
            <img class="back" src="../image/back-arrow.svg" alt="Back to Products">
          </a>
        </div>
      <div class="accordion">
        <dl>
          <dt>
            <a href="#" class="accordion-title accordionTitle js-accordionTrigger">Up-to-date solution</a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion1s" aria-hidden="true">
            <p>
              Since smartphones are used by millions of users in the world (24.1 users of smartphones and 44.4% of the population in France
              and 18.4% of families equipped of tablets in France), Projection® EPRO is the perfect tool to collect data
              easily in any kind of survey.
            </p>
            <p>
              Projection® EPRO is a flexible, scalable and reliable solution for patients' questionnaire. It can be used online or offline
              and runs on smartphones or tablets.
            </p>
            <div class="toUnderstand">
              <a class="lightbox" href="#EPRO-vp">
                <img src="../image/epro_vp.png" alt="picture to understand what you are reading" />
              </a>
            </div>
          </dd>
          <dt>
            <a href="#" class="accordion-title accordionTitle js-accordionTrigger">Main concept</a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
            <ul>
              <li>• Projection® EPRO allows patients to register daily information regarding various types of quality of life
                questionaires
              </li>
              <li>• As it can be used by patients of various ages and different digital levels, the application is especially
                easy to use, intuitive and provides context-sensitive help</li>
              <li>• A self-training is available under the supervision of the investigator</li>
              <li>• Projection ePro can be adapted to any study format, requirements and quality standards</li>
              <li>• Offline data entry is available and transparent for the patient</li>
              <li>• Data is automatically synchronized in real‐time between the tablet and a central database or an Arone eCRF
                database using secured connections
                <ol>
                  <li>• In case of an offline data entry, the synchronization will be done automatically as soon as a connection
                    will be available</li>
                </ol>
              </li>
            </ul>
            <div class="toUnderstand">
              <a class="lightbox" href="#EPRO-synchro">
                <img src="../image/epro_synchro.png" alt="picture to understand what you are reading" />
              </a>
            </div>
          </dd>
          <dt>
            <a href="#" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">Software distribution</a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
            <p>
              Two solutions can be considered depending of the study type and budget:
            </p>
            <ul>
              <li>• Tablet or Smartphone can be dedicated to the application and provided by the sponsor of the study
                <ol>
                  <li>• In this case at the inclusion visit, the tablet or smartphone is given to the patient and a demonstration
                    or a training session is done with the investigator or with the technical assistant,</li>
                  <li>• The tablet or smartphone cannot be used for anything else than the study purpose.</li>
                </ol>
              </li>
              <li>• The application can be downloaded by the patient on his own tablet or smartphone.
                <ol>
                  <li>• In this case at the inclusion visit, a card is given to the patient with the instructions to download
                    the application,</li>
                  <li>• A self-training can or must be done by the patient before the real data entry.</li>
                </ol>
              </li>
            </ul>
            <div class="toUnderstand">
              <a class="lightbox" href="#EPRO-itchapp">
                <img src="../image/epro_itchapp.png" alt="picture to understand what you are reading" />
              </a>
            </div>
            <div class="toUnderstand">
              <a class="lightbox" href="#EPRO-starter">
                <img src="../image/epro_starter.png" alt="picture to understand what you are reading" />
              </a>
            </div>
          </dd>
          <dt>
            <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
              Projection® EPRO architecture
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
            <p>
              The Projection® EPRO system includes:
            </p>
            <ul>
              <li>• An Android application running on devices which permits to the patients to register daily information about
                quality of life or any other information.</li>
              <li>• A central database where patient's data is stored.</li>
              <li>• A secured web service permitting data to be synchronized between the devices and the central database.</li>
              <li>• A web application:
                <ol>
                  <li>• where data collected can be reviewed in real-time and administered.</li>
                  <li>• where data collected can be exported in CSV/CDISC format.</li>
                  <li>• where administrators can:
                    <ol>
                      <li>• follow the study activity with dashboard and reporting</li>
                      <li>• detect abnormalities for patients (regarding a score evolution or alarmistic answer, ...)</li>
                      <li>• manage devices (used/not used, last synchronization date, last entry date, version of the application
                        installed on the device...)</li>
                      <li>• launch messages to the patient through the device,</li>
                      <li>• ...</li>
                    </ol>
                  </li>
                </ol>
              </li>
            </ul>
            <div class="toUnderstand">
              <a class="lightbox" href="#EPRO-central">
                <img src="../image/epro_central.png" alt="picture to understand what you are reading" />
              </a>
            </div>
          </dd>
          <dt>
            <a href="#" aria-expanded="false" aria-controls="onglet4" class="accordion-title accordionTitle js-accordionTrigger">
              Management
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="onglet4" aria-hidden="true">
            <p>
              In addition to data entry, the Projection® EPRO solution offers a wide range of functions designed to simplify the monitoring
              of patients by investigators and technical administrators, according to the study requirements, i.e.:
            </p>
            <ul>
              <li>• Transmit information, alerts and reminders to the patient</li>
              <li>• Display the visit planning if relevant</li>
              <li>• Score calculations</li>
              <li>• Display evolution curves and charts</li>
              <li>• Dashboard including reports and usage statistics</li>
              <li>• Software update</li>
              <li>• Stock management</li>
              <li>• Material issues</li>
              <li>• Connections issues</li>
              <li>• Data export</li>
              <li>• Link with an eCRF database …</li>
            </ul>
          </dd>
          <dt>
            <a href="#" aria-expanded="false" aria-controls="onglet4" class="accordion-title accordionTitle js-accordionTrigger">
              Security
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="onglet4" aria-hidden="true">
            <p>
              Projection® EPRO is fully secured. Data can be signed at the end of data entry regarding studies requirements. Many kinds
              of signature can be used from passphrase to real manual signature.
            </p>
            <p>
              Devices can be locked for the study purpose and so devices are dedicated to the study.
            </p>
            <p>
              Data changes are tracked in n audit trail.
            </p>
          </dd>
          <dt>
            <a href="#" aria-expanded="false" aria-controls="onglet4" class="accordion-title accordionTitle js-accordionTrigger">
              Interface
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="onglet4" aria-hidden="true">
            <p>
              Projection® EPRO can be linked to external system and more especially to ARONE Projection® EDC.
            </p>
          </dd>
          <dt>
            <a href="#" aria-expanded="false" aria-controls="onglet4" class="accordion-title accordionTitle js-accordionTrigger">
              Multi-lingual interface
            </a>
          </dt>
          <dd class="accordion-content accordionItem is-collapsed" id="onglet4" aria-hidden="true">
            <p>
              Projection® EPRO is fully multi lingual. The language is automatically detected by the system regarding the language set
              on the device.
            </p>
          </dd>
        </dl>
      </div>
    </div>
    <div class="lightbox-target" id="EPRO-itchapp">
      <img src="../image/epro_itchapp.png" alt="picture to understand what you are reading" />
      <a class="lightbox-close" href="#"></a>
    </div>


    <div class="lightbox-target" id="#EPRO-vp">
      <img src="../image/epro_vp.png" alt="picture to understand what you are reading" />
      <a class="lightbox-close" href="#"></a>
    </div>

    <div class="lightbox-target" id="EPRO-starter">
      <img src="../image/epro_starter.png" alt="picture to understand what you are reading" />
      <a class="lightbox-close" href="#"></a>
    </div>

    <div class="lightbox-target" id="EPRO-central">
      <img src="../image/epro_central.png" alt="picture to understand what you are reading" />
      <a class="lightbox-close" href="#"></a>
    </div>

    <div class="lightbox-target" id="EPRO-synchro">
      <img src="../image/epro_synchro.png" alt="picture to understand what you are reading" />
      <a class="lightbox-close" href="#"></a>
    </div>
  </main>
  <footer>
    <div>
      <hr width="30%" color="black" size="1" align="center">
      <div>
        <p>info-arone[at]arone.com</p>
        <p>
          <span>+33 (0) 149 772 330</span>|
          <span>+33 (0) 970 326 247</span>
        </p>
        <p>Fell free to contact us</p>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="../script/menu.js" type="text/javascript"></script>
  <script type="text/javascript" src="../script/products.js">
  </script>
</body>

</html>